@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (System.OperatingSystem.IsBrowser())
{
  <p>Render Mode: Wasm</p>
}
else
{
  <p>Render Mode: Server</p>
}
