<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="TimeWarp Enterprises MyGet" value="https://www.myget.org/F/timewarp-enterprises/api/v3/index.json" />
    <add key="Blazor Nightly" value="https://dotnet.myget.org/f/blazor-dev/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>