<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalFeed" value="./LocalNugetFeed" />
  </packageSources>
  <!-- Define mappings by adding package patterns beneath the target source. -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="LocalFeed">
      <package pattern="TimeWarp.State" />
      <package pattern="TimeWarp.State.Plus" />
    </packageSource>
  </packageSourceMapping>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
