@using TimeWarp.Features.Developer
@inherits TimeWarp.Features.ReduxDevTools.BlazorStateDevToolsComponent
<h3>Counter</h3>
@RenderModeDisplay

@if (IsPreRendering)
{
  <p role="status">CounterState.Guid: </p>
  <p role="status">Counter 1 count: </p>
}
else
{
  <p role="status">CounterState.Guid: @CounterState.Guid</p>
  <p role="status">Counter 1 count: @CounterState.Count</p>
  <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}
