@namespace Test.App.Client.Features.Counter.Components
@inherits BaseComponent

<div data-qa="@TestId">
  <p>CounterState.Count: <span data-qa="count">@CounterState.Count</span></p>

  <button @onclick="ButtonClick">Increment CounterState.Count</button>
</div>
