@inherits BlazorStateComponent
<h3>Counter</h3>
<p>Render Mode: @RenderModeString</p>

@if (IsPreRendering)
{
  <p role="status">CounterState.Guid: </p>
  <p role="status">Counter 1 count: </p>
}
else
{
  <p role="status">CounterState.Guid: @CounterOneState.Guid</p>
  <p role="status">Counter 1 count: @CounterOneState.Count</p>
  <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}
