@namespace Test.App.Client.Features.Counter.Components
@inherits BaseComponent

<div data-qa="@TestId">
  <p>Current count: @CounterZeroState.Count</p>

  <button class="btn btn-primary" @onclick="ButtonClick">Click me</button>
</div>
