@typeparam T
@inherits BaseInputComponent<T>

<div>
  @if (!string.IsNullOrWhiteSpace(Label))
  {
    <label for=@Id>@Label</label>
  }

  <p>Current count: @CounterZeroState.Count</p>

  <p>
    <input class="form-control @CssClass" id=@Id @bind=CurrentValueAsString />
  </p>
  <button class="btn btn-primary" @onclick=ButtonClick>Click me</button>
</div>
