@page "/counter"
@inherits BaseComponent

<h1>Counter</h1>

<p>Current count: @CounterState.Count</p>

<button class="btn btn-primary" onclick="@ButtonClick">Click me</button>

@functions {

  void ButtonClick()
  {
    Mediator.Send(new Features.Root.IncrementCount.Request { Amount = 5 });
  }
}