@inherits BaseComponent
<h3>Counter</h3>
@RenderModeDisplay

@if (IsPreRendering)
{
  <div role="status">CounterState.Guid: </div>
  <div role="status">Counter 1 count: </div>
}
else
{
  <div role="status">CounterState.Guid: @PurpleState.Guid</div>
  <div role="status">Counter 1 count: @PurpleState.Count</div>
  <button @onclick="IncrementCount">Click me</button>
}

@code
{
  private async Task IncrementCount() => await Mediator.Send(new PurpleState.IncrementCount.Action { Amount = 5 });
}
