@inherits MainLayoutModel

<div class="sidebar">
  <NavMenu />
</div>
<div class="main">
  <div class="top-row px-4">
    @if (BlazorHostingLocation.IsClientSide)
    {
      <div>ClientSide</div>
    }
    else
    {
      <div>ServerSide</div>
    }
    <a href="https://blazor.net" target="_blank" class="ml-md-auto">About</a>
  </div>
  <div class="content px-4">
    @Body
  </div>
</div>