@namespace Test.App.Client.Pages
@rendermode InteractiveAuto
@attribute [Route(Route)]
@inherits BaseComponent

@code
{
  /// <summary>
  /// The title of the page
  /// </summary>
  public const string Title = "Go Back Page";

  /// <summary>
  /// The route for the page
  /// </summary>
  public const string Route = "/GoBackPage";

  private async Task GoBack(int amount) =>
    await RouteState.GoBack(amount);
}

<TwPageTitle>@Title</TwPageTitle>
<h1>@Title</h1>
@RenderModeDisplay
<hr>
<!-- Arrange -->
<!-- Test description -->
<p>Test the GoBack Handler</p>
<br/>

<!-- Values to validate -->
<h4>Route Stack</h4>
@foreach(RouteState.RouteInfo? item in  RouteState.Routes)
{
  <div>@item.PageTitle (@item.Url)</div>
}

<!-- Actions to take -->
<button data-qa="go-back-button" @onclick=@(() => GoBack(1))>Go Back</button>
<button data-qa="go-back-button-2" @onclick=@(() => GoBack(2))>Go Back 2</button>
<hr>

<!-- ACT -->
<p><strong>Act:</strong> Click the `Go Back` button</p>

<!-- ASSERT -->
<p>
  <strong>Assert:</strong>
  Verify that the route changes to the proper one in the Route Stack if the `Go Back` button is clicked.
</p>

<hr>
<p>
  <strong>Repeat</strong> the above steps where `Current Render Mode` is Server and Wasm.
</p>

