@page "/counter"

<h1>Counter Page</h1>

<h2>Counter Display 1</h2>
<Counter TestId="Counter1" />
<br />

<h2>Counter Display 2</h2>
<Counter TestId="Counter2" />
<br />
<hr />
<h6>Reset button will clear all state in the Store and return you to the home page</h6>
<ResetButton />
<br />
<hr />
<h6>EventStream is an example of middleware.  It adds each action to list.</h6>
<EventStream />