@using BlazorState
@using Sample.Client.Features.Counter

@inherits BlazorStateComponent

<p role="status">Current count from viewer component: @currentCount</p>

@code {
    CounterState CounterState => GetState<CounterState>();

    private int currentCount => CounterState.Count;
}
