@rendermode InteractiveAuto
@attribute [Route(Route)]
@inherits BaseComponent

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>
@RenderModeDisplay
<hr/>
<!-- Arrange -->
<!-- Test description -->
<p>Test the ChangeRoute Handler</p>

<!-- Actions to take -->
<button data-qa="ChangeRoute" @onclick=ChangeRouteToHome>Change Route to Home</button>

<hr>
<!-- ACT -->
<p><strong>Act:</strong>Click the Change Route to Home button</p>

<!-- ASSERT -->
<p>
  <strong>Assert:</strong>
  Verify that the route changes to the home page.
</p>

<hr>
<p>
  <strong>Repeat</strong> the above steps where `Current Render Mode` is Server and Wasm.
</p>

@code
{
  /// <summary>
  /// The title of the page
  /// </summary>
  public const string Title = "Change Route Page";
  
  /// <summary>
  /// The route to this page
  /// </summary>
  public const string Route = "/ChangeRoutePage";
  
  private async Task ChangeRouteToHome() =>
    await Mediator.Send(new RouteState.ChangeRoute.Action( newRoute: "/" ));
}
