@rendermode InteractiveAuto
@page "/childcounters"
@using BlazorState

@inherits BlazorStateComponent

<PageTitle>Counter</PageTitle>

<h1>Child Counter Page</h1>
<p>Render Mode: @RenderModeString</p>

<SampleDotNet8.Client.Features.Counter.Components.Counter/>
<SampleDotNet8.Client.Features.Counter.Components.Counter/>
