@rendermode InteractiveAuto
@attribute [Route(Route)]
@inherits BaseComponent

<PageTitle>@Title</PageTitle>
<h1>@Title</h1>

@RenderModeDisplay
<br/>
<div>Testing two of the same component on a page.</div>
<br/>
<Counter/>
<br/>
<Counter/>

@code
{
  public const string Title = "Duplicate Counter Page";
  public const string Route = "/childcounters";
}
