@rendermode InteractiveAuto
@page "/childcounters"
@using BlazorState

@inherits BlazorStateComponent

<PageTitle>Counter</PageTitle>

<h1>Child Counter Page</h1>
<p>Render Mode: @RenderModeString</p>

<CounterOne/>
<CounterOne/>
