@rendermode InteractiveAuto
@attribute [Route(Route)]
@inherits BaseComponent

<TwPageTitle>@Title</TwPageTitle>
<h1>@Title</h1>
@RenderModeDisplay
<hr/>
<p>Testing ability for Javascript to Dispatch Actions via the include `timewarpState.DispatchRequest` Javascript method.</p>
<!-- Values to validate -->
<ul>
<li>
  <strong>CounterState.Count:</strong> <span data-qa="counter-state-count">@CounterState.Count</span>
</li>
</ul>

<!-- Actions to take -->

<button data-qa="increment-button" onclick="window.InteropTest()">Increment Count by 7 via JavaScript Interop</button>

<hr>
<!-- ACT: Toggle Theme -->
<p><strong>Act:</strong> Click the button</p>

<!-- ASSERT: Theme Change Reflected -->
<p>
  <strong>Assert:</strong>
  Verify that the CounterState.Count increments by 7.
</p>
<hr>
<p>
  <strong>Repeat</strong> the above steps where `Current Render Mode` is Server and Wasm.
</p>

@code
{

  /// <summary>
  /// The title of the page
  /// </summary>
  public const string Title = "JavaScript Interop Test";


  /// <summary>
  /// The route for the page
  /// </summary>
  public const string Route = "/JavaScriptInteropPage";
}

