@rendermode InteractiveAuto
@attribute [Route(Route)]
@inherits BaseComponent
<PageTitle>@Title</PageTitle>
<h3>@Title</h3>
<br/>
@RenderModeDisplay
<br/>
<div>Reset button should clear all state in the Store and return you to the home page</div>
<br/>
<ResetButton />

@code
{
  /// <summary>
  /// The title of the page
  /// </summary>
  public const string Title = "Reset Store Page";
  
  
  /// <summary>
  /// The route for the page
  /// </summary>
  public const string Route = "/ResetStorePage";
}
