@rendermode InteractiveAuto
@page "/childcounters"
@using TimeWarp.State

@inherits BlazorStateComponent

<PageTitle>Counter</PageTitle>

<h1>Child Counter Page</h1>
<p>Render Mode: @CurrentRenderMode</p>

<SampleDotNet8.Client.Features.Counter.Components.Counter/>
<SampleDotNet8.Client.Features.Counter.Components.Counter/>
