@rendermode InteractiveAuto
@page "/counter"
@using SampleDotNet8.Client.Features.Counter
@using BlazorState
@using BlazorState.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.AspNetCore.Components.WebAssembly.Http

@inherits BlazorStateComponent

@inject RenderPhaseService RenderPhaseService;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if(IsPreRenderComplete)
{
  <p>PreRender Complete</p>
}
else
{
  <p>PreRender Incomplete</p>
}

@if (!IsPreRenderComplete)
{
  <p role="status">CounterState.Guid: </p>
  <p role="status">Current count: </p>
}
else
{
  <p role="status">CounterState.Guid: @CounterState.Guid</p>
  <p role="status">Current count: @CounterState.Count</p>
}


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (System.OperatingSystem.IsBrowser())
{
  <p>Render Mode: Wasm</p>
}
else if (!IsPreRenderComplete)
{
  <p>Render Mode: PreRendering</p>
}
else
{
  <p>Render Mode: Server</p>
}

<BlazorState.Features.ReduxDevTools.Components.ReduxDevTools />
<BlazorState.Features.JavaScriptInterop.Components.TimeWarpJavaScriptInterop />
<BlazorState.Features.Routing.Components.TimeWarpNavigation />

