@inherits TimeWarpStateComponent
<div>Child with Cascade: @CascadeValue</div>

<ul class="render-info">
    <li>Render Count: @RenderCount</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
</ul>

@code {
  [CascadingParameter] public string CascadeValue { get; set; } = "";
}
