@inherits TimeWarpStateComponent
<div>
  Child with All: Int = @SomeInt, Complex = @SomeComplex?.Property
  <span @onclick="SomeCallback">Click me</span>
</div>

@code {
  [Parameter] public int SomeInt { get; set; }
  [Parameter] public ShouldRenderTestPage.ComplexType? SomeComplex { get; set; }
  [Parameter] public EventCallback<MouseEventArgs> SomeCallback { get; set; }
}
