@inherits BaseComponent
<div >
  <div>Child with CounterState Subscription No Render Trigger</div>
  <div>CounterState.Count: @CounterState.Count</div>

  <ul class="render-info">
    <li>Render Count: @(RenderCount+1)</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
  </ul>
</div>
