@inherits TimeWarpStateComponent
<div >
  <div>Child with Primitives: Int = @SomeInt, String = @SomeString</div>

  <ul class="render-info">
    <li>Render Count: @(RenderCount+1)</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
  </ul>
</div>

@code {
  [Parameter] public int SomeInt { get; set; }
  [Parameter] public string SomeString { get; set; } = "";
}
