@inherits TimeWarpStateComponent
<div>Child with Complex: @SomeComplex?.Property</div>

<ul class="render-info">
    <li>Render Count: @RenderCount</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
</ul>

@code {
  [Parameter] public ShouldRenderTestPage.ComplexType? SomeComplex { get; set; }
}
