@inherits TimeWarpStateComponent
<div @onclick="SomeCallback">Child with EventCallback</div>

<ul class="render-info">
    <li>Render Count: @RenderCount</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
</ul>

@code {
  [Parameter] public EventCallback<MouseEventArgs> SomeCallback { get; set; }
}
