@inherits TimeWarpStateComponent
<div>
  <div>Child Component Parameterless</div>

  <ul class="render-info">
    <li>Render Count: @(RenderCount+1)</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
  </ul>
</div>
