@inherits TimeWarpStateComponent
<div>Parameterless Child Component</div>

<ul class="render-info">
    <li>Render Count: @RenderCount</li>
    <li>Render Reason: @RenderReason</li>
    <li>Render Reason Detail: @RenderReasonDetail</li>
</ul>
